<div class="article-item">
	<h2>{{ article.title }}</h2>
	<div>{{ article.content }}</div>
	<a href="{{baseUrl}}article/edit/{{ article.id_article }}">Edit it</a>
	<a href="{{baseUrl}}article/delete/{{ article.id_article }}">Remove it</a>
</div>